/* header */
.header__title {
  text-align: center;
  font: 48px bold;
  color: #3e4348;
}

.header__description {
  color: #7c7d80;
  text-align: center;
  font-size: 18px;
}
.separator {
  height: 20px;
}

/* Main */
.results {
  border-bottom: 15px solid #ffffff;
  border-top: 15px solid #d5d6e0;
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
}
.results__header {
  border-bottom: 1px solid #d5d6e0;
}

.results__header__logo img {
  width: 100px;
}
.results__header__main__input .input-group input {
  border-radius: 10px;
  background-color: #ffffff;
}
.results__header__main__menu__item {
  padding: 10px;
  margin: auto;
}
.results__header__main__menu__item {
  border-bottom: 2px #ffffff solid;
}
.results__header__main__menu__item:nth-child(1) {
  border-bottom: 2px #1a0dab solid;
  color: #1a0dab;
}
.results__content__metadata {
  position: relative;
  height: 100px;
}
.results__content__url {
  font-size: 14px;
  line-height: 1.3;
  margin: 5px 0;
  top: 2%;
}
.results__content__url--metadata {
  position: absolute;
}
.results__content__title {
  font-size: 20px;
  line-height: 1.3;
  color: #1a0dab;
  margin: 5px 0;
  top: 20%;
}
.results__content__desc {
  margin: 5px 0;
  color: #4d5156;
  line-height: 1.58;
  font-size: 14px;
  top: 50%;
}
.results__content__stars {
  color: #70757a;
  font-size: 14px ;
}
.results__content__stars img{
    width: 66px;
}
.results__content__blank__url {
  background: #5f6368;
  width: 30%;
  height: 15px;
  opacity: 0.3;
  margin-bottom: 15px;
}
.results__content__blank__title {
  background: #1a0dab;
  width: 60%;
  height: 20px;
  opacity: 0.3;
  margin-bottom: 15px;
}
.results__content__blank__desc {
  background: #4d5156;
  width: 90%;
  height: 40px;
  opacity: 0.3;
  margin-bottom: 8px;
}
.results__content__url--ad:before {
  content: 'Ad ·';
  font-weight: bold;
  margin-right: 5px;
  color: #202124;
}
.results__content__ads {
  margin: 20px auto;
  display: none;
}

.inputs {
  background: #eff2f5 ;
  padding: 20px;
  border-top: 15px solid #ffffff;
  height: 70%;
}
.inputs__input {
  position: relative;
  margin-left: 20px;
}
.btn {
  margin: 10px 0;
}
.inputs__input label {
  text-align: left;
}
.inputs__input--checkbox {
  margin: 15px;
}
.inputs__input__title {
  color: #3e4348;
  font-weight: bold;
  font-size: 16px;
  width: 90%;
  margin: 10px auto;
}
.inputs__input input, {
  height: 30%;
}
.inputs__input input, .inputs__input textarea{
  width: 90%;
  margin: auto;
}
.inputs__input__error {
  background: #f6dfda;
  color: #bd462e;
  font-weight: bold;
  width: 90%;
  margin: auto;
  font-size: 12px;
  height: 30px;
  z-index: 9999;
}
.inputs__input__count {
  position: absolute;
  right: 5%;
  top: 15%;
}
.inputs__input--checkbox p {
  margin: 10px;
}
.inputs__input--buttons .btn {
  position: relative;
  margin: 0 10px;
}
.inputs__input--buttons {
  display: flex;
  align-content: space-around;
}
.results__content__map {
  display: none;
}
.results__content__stars {
  display: none;
}
.results__content__desc--date {
  display: none;
}
.show {
  display: inline;
}
.error {
  color: red;
}
.progress {
  width: 90%;
  height: 5px !important;
}
.url-btn {
  left: 85%;
  height: 20%;
  top: 40%;
}
.capitalize {
  text-transform: capitalize;
}


